// app global css in Stylus form
::-webkit-scrollbar
  width: 10px
  height 10px
::-webkit-scrollbar-track
  background-color #555
::-webkit-scrollbar-track:hover
  background-color #666
::-webkit-scrollbar-thumb
  background-color #777
  border-radius 10px
::-webkit-scrollbar-thumb:hover
  background-color #888
::-webkit-scrollbar-corner
  background-color #555
